.page-info {
    margin-left: 150px;
    margin-right: 100px;
    border: 10px solid white;
    border-radius: 10px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    animation: loadInTransition 1.5s ease;
}

#title {
    text-align: center;
}

#info {
    text-align: center;
}