body {
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    scroll-behavior: smooth;
}

.btn button {
    margin: 5px;
    cursor: pointer;
    background-image: linear-gradient(to left, #0072ff, #00c6ff);
    background-size: 500% 400%;
    cursor: pointer;
    border-radius: 50px;
    transition: all .2s ease-in-out;
    border: 0px solid;
}

#home-btn,
#abt-me-btn,
#education-btn,
#experience-btn,
#resume-btn {
    float: left;
}

.btn a {
    text-decoration: none;
}

.btn button:hover {
    background-position: 75% 50%;
    color: white;
    transform: perspective(100px);
    transform: scale(1.1);
}

.btn button:active {
    transform: scale(0.9);
    transition: 0.1s;
}

.menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 90%;
    height: 75px;
    background-color: white;
    animation: loadInTransition 1.5s ease;
    margin: 0 auto;
}

.menu button {
    width: 100px;
    height: 60px;
    font-size: large;
    align-items: center;
    justify-content: center;
}

@keyframes loadInTransition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 650px) {
    .menu button {
        height: 40px;
        width: 90px;
        font-size: small;
        margin-top: 10px;
    }
}