.profile {
    margin-left: 150px;
    margin-right: 100px;
    text-align: center;
    border: 10px solid white;
    border-radius: 10px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: loadInTransition 1.5s ease;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links div {
    margin: 10px;
}

.profile-pic {
    margin: 10px;
    border-radius: 50%;
    width: 150px;
}

.link-btn {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    cursor: pointer;
    height: 45px;
    width: 80px;
    border: 0px solid;
    background-image: linear-gradient(to left, #0072ff, #00c6ff);
    background-size: 500% 400%;
    color: white;
    border-radius: 50px;
    transition: 0.3s all;
    align-content: center;
    align-items: center;
    display: flex;
}

.link-btn img {
    display: block;
    margin: 0 auto;
}

.link-btn:hover {
    background-position: 75% 50%;
    transform: perspective(100px);
    transform: scale(1.1);
}

.link-btn:active {
    transform: scale(0.9);
    transition: 0.1s;
}

.twitter {
    margin-left: 100px;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
}

.twitter-logo {
    float: left;
    width: 30px;
}

.github-logo {
    float: left;
    width: 30px;
}

.linkedin-logo {
    float: left;
    width: 30px;
    margin-left: 13px;
    margin-top: 1px;
}

.phone-logo {
    float: left;
    width: 24px;
    margin-top: 3px;
    margin-left: 15px;
}

.email-logo {
    float: left;
    width: 30px;
    margin-top: 4px;
    margin-left: 15px;
}